In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import scipy.stats as stats

In [2]:
wine_data = "Datasets/winemag-data-130k-v2.csv"

In [3]:
wine_data_df = pd.read_csv(wine_data)

In [4]:
wine_data_df.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [5]:
wine_data_df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [6]:
reduced_wine_data_df = wine_data_df[["country", "points", "price", "variety", "province", "winery"]]

In [7]:
drop_na_df = reduced_wine_data_df.dropna()

In [8]:
drop_na_df.count()

country     120915
points      120915
price       120915
variety     120915
province    120915
winery      120915
dtype: int64

In [23]:
#groupbys for dataset
country_group = drop_na_df.groupby("country")
province_group = drop_na_df.groupby("province")
winery_group = drop_na_df.groupby("winery")
variety_group = drop_na_df.groupby("variety")
country_by_province = drop_na_df.groupby(["country", "province"])
country_by_province.mean()
country_by_variety = drop_na_df.groupby(["country", "variety"])
country_group.mean()

                           points      price
country
Argentina               86.710330  24.510117
Armenia                 87.500000  14.500000
Australia               88.595466  35.437663
Austria                 90.190782  30.762772
Bosnia and Herzegovina  86.500000  12.500000
Brazil                  84.659574  23.765957
Bulgaria                87.936170  14.645390
Canada                  89.377953  35.712598
Chile                   86.495130  20.787316
China                   89.000000  18.000000
Croatia                 87.352113  25.450704
Cyprus                  87.181818  16.272727
Czech Republic          87.250000  24.250000
England                 91.550725  51.681159
France                  88.734867  41.139120
Georgia                 87.678571  19.321429
Germany                 89.836321  42.257547
Greece                  87.288503  22.364425
Hungary                 89.165517  40.648276
India                   90.222222  13.333333
Israel                  88.496933  31.768916
Italy                   88.618186  39.663770
Lebanon                 87.685714  30.685714
Luxembourg              88.666667  23.333333
Macedonia               86.833333  15.583333
Mexico                  85.257143  26.785714
Moldova                 87.203390  16.745763
Morocco                 88.571429  19.500000
New Zealand             88.308418  26.931785
Peru                    83.562500  18.062500
Portugal                88.316718  26.218256
Romania                 86.400000  15.241667
Serbia                  87.500000  24.500000
Slovakia                87.000000  16.000000
Slovenia                88.012500  24.812500
South Africa            87.831400  24.668987
Spain                   87.290735  28.215275
Switzerland             88.571429  85.285714
Turkey                  88.088889  24.633333
US                      88.566387  36.573464
Ukraine                 84.071429   9.214286
Uruguay                 86.752294  26.403670

In [10]:

most_produced_varieties= drop_na_df.groupby("variety").count()["points"].sort_values(ascending = False)
most_produced_varieties_df = pd.DataFrame({"Number of Bottles":most_produced_varieties})
top_10_varieties = most_produced_varieties_df.iloc[0:10, :].index.to_list()
top_10_varieties

['Pinot Noir',
 'Chardonnay',
 'Cabernet Sauvignon',
 'Red Blend',
 'Bordeaux-style Red Blend',
 'Riesling',
 'Sauvignon Blanc',
 'Syrah',
 'Rosé',
 'Merlot']

In [25]:
country_production = drop_na_df["country"].value_counts()

In [12]:
#Number of bottles with score greater than 80 indexed by country in descending order
sort_production_df = pd.DataFrame({"Bottles with Score >80":country_production})
#iloc df of top 10 producers for graphing
top_10_producers = sort_production_df.iloc[0:10,:]
top_10_producers

           Bottles with Score >80
US                          54265
France                      17776
Italy                       16914
Spain                        6573
Portugal                     4875
Chile                        4415
Argentina                    3756
Austria                      2799
Australia                    2294
Germany                      2120

In [13]:
#average score in descending order
avg_points_descending=country_group.mean()["points"].sort_values(ascending=False)
sort_scores = pd.DataFrame({"Average Score":avg_points_descending})
#iloc of top 10 scorers for graphing (convert to value_counts for series if needed)
top_10_scorers_df = sort_scores.iloc[0:10,:]
#list for loc searching of dataframes
top_10_scorers_list = top_10_scorers_df.index.to_list()

In [14]:
#Dataframe of top 10 producers average score (optional sort by descending)
top_10_producers_list = top_10_producers.index.to_list()
top_10_producers_scores = sort_scores.loc[top_10_producers_list,:]
top_10_producers_scores.sort_values(by = "Average Score", ascending = False)

           Average Score
country
Austria        90.190782
Germany        89.836321
France         88.734867
Italy          88.618186
Australia      88.595466
US             88.566387
Portugal       88.316718
Spain          87.290735
Argentina      86.710330
Chile          86.495130

In [15]:
#highest scoring varieties
mean_by_variety = variety_group.mean()
top_varieties = mean_by_variety.sort_values(by=["points"], ascending = False)
#most reviewed varieties
most_pop_varieties = variety_group.count().sort_values(by = ['points'], ascending = False)
top_10_varieties = most_pop_varieties.iloc[0:10,:].index.to_list()
#top 10 number of reviews by score and price
top_10_varieties_df = mean_by_variety.loc[top_10_varieties, :]
top_10_varieties_df.sort_values(by = ['points'], ascending = False)
top_10_producers

           Bottles with Score >80
US                          54265
France                      17776
Italy                       16914
Spain                        6573
Portugal                     4875
Chile                        4415
Argentina                    3756
Austria                      2799
Australia                    2294
Germany                      2120

In [36]:
select_countries = ['US','France', 'Italy', 'Spain', 'Portugal', 'Chile', 'Argentina', 'Austria', 'Australia', 'Germany']
select_df = drop_na_df[drop_na_df['country'].isin(select_countries)]

select_df.to_csv("cleaned_countries.csv")

In [17]:
#Dataframes of top 10 varieties 
riesling_df = select_df[select_df['variety']=="Riesling"]
pinot_noir_df = select_df[select_df['variety']=="Pinot Noir"]
syrah_df = select_df[select_df['variety']=="Syrah"]
bordeaux_df = select_df[select_df['variety']=="Bordeaux-style Red Blend"]
cabernet_sauvignon_df = select_df[select_df['variety']=="Cabernet Sauvignon"]
red_blend_df = select_df[select_df['variety']=="Red Blend"]
chardonnay_df = select_df[select_df['variety']=="Chardonnay"]
sauvignon_blanc_df = select_df[select_df['variety']=="Sauvignon Blanc"]
rose_df = select_df[select_df['variety']=="Rosé"]
merlot_df = select_df[select_df['variety']=="Merlot"]
#I can set the indexes by country for these if we want to run some ttests,
#just be warned i was told that this was bad practice

In [54]:
rose_df

,country,points,price,variety,province,winery
83,Australia,86,20.0,Rosé,South Australia,Mitolo
337,France,83,16.0,Rosé,Languedoc-Roussillon,Château Notre Dame du Quatourze
338,France,82,11.0,Rosé,Provence,Mémoires
425,US,89,18.0,Rosé,New York,Lieb
499,France,87,20.0,Rosé,Provence,Domaine du Grand Cros
500,Spain,87,11.0,Rosé,Northern Spain,El Coto
552,France,93,20.0,Rosé,Provence,Château Vignelaure
554,France,93,40.0,Rosé,Provence,Mas de Cadenet
574,France,89,11.0,Rosé,Rhône Valley,Château de Campuget
577,US,89,17.0,Rosé,New York,Chateau Lafayette Reneau
579,US,89,13.0,Rosé,California,Cupcake
701,France,91,65.0,Rosé,Provence,Château d'Esclans
702,France,91,17.0,Rosé,Provence,Château Riotor
704,France,91,20.0,Rosé,Provence,Château Vignelaure
706,France,91,20.0,Rosé,Provence,Domaine de la Bastide Blanche
707,France,91,20.0,Rosé,Provence,Domaine du Grand Cros
708,France,91,25.0,Rosé,Provence,Domaine Sainte-Marie
717,France,91,25.0,Rosé,Provence,JCB
720,Portugal,85,22.0,Rosé,Alentejano,Cortes de Cima
726,Portugal,85,9.0,Rosé,Vinho Verde,Quinta de Paços
737,Portugal,85,12.0,Rosé,Península de Setúbal,Wines & Winemakers
866,Australia,90,25.0,Rosé,South Australia,Beresford
912,US,87,18.0,Rosé,Oregon,Fullerton
958,Spain,87,18.0,Rosé,Northern Spain,Ignacio Marín
1177,Portugal,88,14.0,Rosé,Douro,Wines & Winemakers
1335,US,90,18.0,Rosé,New York,Damiani
1338,France,90,21.0,Rosé,Provence,Domaine Clos Gautier
1339,France,90,23.0,Rosé,Provence,Domaine Harmonie des Arpents
1340,France,90,30.0,Rosé,Provence,Domaine Sainte-Marie
1353,France,86,14.0,Rosé,Bordeaux,Chateau le Grand Verdus
...,...,...,...,...,...,...
128805,France,85,18.0,Rosé,Provence,Vignobles de Saint-Tropez
128806,France,85,12.0,Rosé,Provence,Vignobles Ravel
128820,France,85,15.0,Rosé,Provence,Maison Belle Claire
128878,Portugal,85,10.0,Rosé,Lisboa,Casa Santos Lima
128891,Portugal,85,10.0,Rosé,Tejo,Quinta da Alorna
128968,US,91,17.0,Rosé,Washington,Seven Hills
129016,France,88,24.0,Rosé,Provence,Château de Garcinières
129034,Spain,88,10.0,Rosé,Northern Spain,Rio Madre
129180,France,84,10.0,Rosé,Languedoc-Roussillon,Les Costières de Pomerols
129188,France,84,13.0,Rosé,Rhône Valley,Louis Bernard
129201,US,84,13.0,Rosé,California,OZV
129204,Spain,84,9.0,Rosé,Spain Other,Arrumaco
129353,Argentina,87,11.0,Rosé,Mendoza Province,Melipal
129382,France,87,23.0,Rosé,Provence,Château de Saint-Martin
129385,France,87,14.0,Rosé,Provence,Domaine de la Courtade
129443,US,87,20.0,Rosé,California,Kokomo
129452,Portugal,87,23.0,Rosé,Douro,Quinta do Vallado
129453,US,87,18.0,Rosé,California,Rock Wall
129464,US,88,25.0,Rosé,California,Ousterhout
129489,France,88,20.0,Rosé,Provence,Ravoire et Fils
129572,France,93,15.0,Rosé,Rhône Valley,Domaine des Carteresses
129577,US,90,35.0,Rosé,California,Adair Bachman
129599,France,90,24.0,Rosé,Rhône Valley,Prieuré de Montézargues
129615,Spain,84,10.0,Rosé,Northern Spain,Marqués de Riscal
129687,US,87,26.0,Rosé,California,Melville
129705,Argentina,87,13.0,Rosé,Mendoza Province,François Lurton
129747,France,87,14.0,Rosé,Provence,Château de Berne
129761,France,87,18.0,Rosé,Provence,Mas de Pampelonne
129769,US,87,22.0,Rosé,California,Solminer
129775,US,87,27.0,Rosé,California,Tablas Creek

In [18]:
#Mean groupbys of top 10 varieties by country
#These are means, not counts, and are necessarily means of score *and* price by country for varieties of wine
#You can get these values by grouping by country and variety, but these are simplified dataframes for easy graphing

riesling_mean = riesling_df.groupby("country").mean()
pinot_noir_mean = pinot_noir_df.groupby("country").mean()
syrah_mean = syrah_df.groupby("country").mean()
bordeaux_mean = bordeaux_df.groupby("country").mean()
cabernet_mean = cabernet_sauvignon_df.groupby("country").mean()
red_blend_mean = red_blend_df.groupby("country").mean()
chardonnay_mean = chardonnay_df.groupby("country").mean()
sauvignon_mean = sauvignon_blanc_df.groupby("country").mean()
rose_mean = rose_df.groupby("country").mean()
merlot_mean = merlot_df.groupby("country").mean()

In [47]:
country_point = "Datasets/cleaned_countries.csv"

In [48]:
country_point_df = pd.read_csv(country_point)

In [50]:
country_point_df.head(10)

,Unnamed: 0,country,points,price,variety,province,winery
0,1,Portugal,87,15.0,Portuguese Red,Douro,Quinta dos Avidagos
1,2,US,87,14.0,Pinot Gris,Oregon,Rainstorm
2,3,US,87,13.0,Riesling,Michigan,St. Julian
3,4,US,87,65.0,Pinot Noir,Oregon,Sweet Cheeks
4,5,Spain,87,15.0,Tempranillo-Merlot,Northern Spain,Tandem
5,6,Italy,87,16.0,Frappato,Sicily & Sardinia,Terre di Giurfo
6,7,France,87,24.0,Gewürztraminer,Alsace,Trimbach
7,8,Germany,87,12.0,Gewürztraminer,Rheinhessen,Heinz Eifel
8,9,France,87,27.0,Pinot Gris,Alsace,Jean-Baptiste Adam
9,10,US,87,19.0,Cabernet Sauvignon,California,Kirkland Signature

In [52]:
# DF FOR EACH TOP 10 COUNTRY WITH CORRESPONDING TOP 10 VARIETY SCORES

country_point_df = wine_data_df[["select_countries", "points"]]

country_point_df

KeyError: "['select_countries'] not in index"

In [38]:
merlot_mean.sort_values(by = "points")

              points      price
country
Spain      84.933333  17.466667
Argentina  85.034483  17.758621
Chile      85.257812  12.925781
Australia  85.736842  20.684211
France     86.584906  24.500000
US         87.383913  28.765652
Portugal   88.750000  19.750000
Italy      89.594203  92.760870
Austria    91.500000  35.000000

In [20]:
us_df = select_df[select_df["country"]=="US"]
france_df = select_df[select_df["country"]=="France"]
italy_df = select_df[select_df["country"]=="Italy"]
spain_df = select_df[select_df["country"]=="Spain"]
portugal_df = select_df[select_df["country"]=="Portugal"]
chile_df = select_df[select_df["country"]=="Chile"]
argentina_df = select_df[select_df["country"]=="Argentina"]
austria_df = select_df[select_df["country"]=="Austria"]
australia_df = select_df[select_df["country"]=="Australia"]
germany_df = select_df[select_df["country"]=="Germany"]

In [55]:
us_df

,country,points,price,variety,province,winery
2,US,87,14.0,Pinot Gris,Oregon,Rainstorm
3,US,87,13.0,Riesling,Michigan,St. Julian
4,US,87,65.0,Pinot Noir,Oregon,Sweet Cheeks
10,US,87,19.0,Cabernet Sauvignon,California,Kirkland Signature
12,US,87,34.0,Cabernet Sauvignon,California,Louis M. Martini
14,US,87,12.0,Chardonnay,California,Mirassou
19,US,87,32.0,Meritage,Virginia,Quiévremont
20,US,87,23.0,Red Blend,Virginia,Quiévremont
21,US,87,20.0,Pinot Noir,Oregon,Acrobat
23,US,87,22.0,Merlot,California,Bianchi
25,US,87,69.0,Pinot Noir,California,Castello di Amorosa
29,US,86,16.0,Chenin Blanc,California,Clarksburg Wine Company
33,US,86,50.0,Red Blend,California,Envolve
34,US,86,20.0,Sauvignon Blanc,California,Envolve
35,US,86,50.0,Pinot Noir,Oregon,Erath
41,US,86,22.0,Pinot Noir,Oregon,Hawkins Cellars
43,US,86,14.0,Sauvignon Blanc,California,Robert Hall
45,US,86,40.0,Red Blend,Virginia,Tarara
47,US,86,13.0,Riesling,California,The White Knight
48,US,86,16.0,Sauvignon Blanc,Virginia,Trump
55,US,85,30.0,Chardonnay,California,RustRidge
56,US,85,14.0,Chardonnay,California,Souverain
59,US,86,55.0,Malbec,Washington,Mellisoni
60,US,86,100.0,Cabernet Sauvignon,California,Okapi
62,US,86,25.0,Cabernet Franc,Washington,Ram
64,US,86,26.0,Sauvignon Blanc,California,Sevtap
67,US,86,46.0,Bordeaux-style Red Blend,Washington,Basel Cellars
68,US,86,12.0,Red Blend,California,Cocobon
70,US,86,12.0,Chardonnay,Washington,Drumheller
71,US,86,40.0,Cabernet Sauvignon,California,Eco Terreno
...,...,...,...,...,...,...
129880,US,90,20.0,Chardonnay,California,Martin Ray
129882,US,90,60.0,Bordeaux-style Red Blend,Washington,Matthews
129885,US,91,25.0,Roussanne,California,Zaca Mesa
129888,US,91,34.0,Pinot Noir,California,August West
129891,US,91,100.0,Cabernet Sauvignon,California,Jax
129895,US,91,30.0,Chardonnay,California,Martin Ray
129896,US,91,36.0,Chardonnay,California,Mazzocco
129897,US,91,48.0,Petite Sirah,California,MCV
129898,US,91,52.0,Bordeaux-style Red Blend,California,Midnight
129899,US,91,30.0,White Blend,California,Paraduxx
129904,US,91,33.0,Sauvignon Blanc,California,Chalk Hill
129906,US,91,35.0,Cabernet Sauvignon,California,Conn Creek
129909,US,91,20.0,Pinot Gris,California,Derby
129912,US,91,55.0,Pinot Noir,California,Dunstan
129913,US,92,44.0,Cabernet Sauvignon,Washington,Woodward Canyon
129914,US,91,35.0,Cabernet Sauvignon,California,Fritz
129915,US,91,40.0,Red Blend,Washington,Balboa
129919,US,91,105.0,Red Blend,Washington,Nicholas Cole Cellars
129920,US,91,48.0,Pinot Noir,California,Pali
129926,US,91,41.0,Syrah,Washington,Reininger
129927,US,91,28.0,Cabernet Franc,Washington,Tamarack Cellars
129935,US,91,38.0,Syrah,Washington,Va Piano
129940,US,91,36.0,Chardonnay,California,Standish
129941,US,90,20.0,Chardonnay,California,Apriori
129942,US,90,35.0,Cabernet Sauvignon,California,Arrowood
129945,US,90,20.0,Chenin Blanc,California,Birichino
129949,US,90,35.0,Chardonnay,California,Flora Springs
129950,US,90,35.0,Zinfandel,California,Hendry
129952,US,90,22.0,Zinfandel,California,Houdini
129967,US,90,75.0,Pinot Noir,Oregon,Citation

In [21]:
select_df.groupby("variety").count().sort_values(by="country", ascending = False)

                           country  points  price  province  winery
variety
Pinot Noir                   12191   12191  12191     12191   12191
Chardonnay                   10656   10656  10656     10656   10656
Cabernet Sauvignon            9086    9086   9086      9086    9086
Red Blend                     8083    8083   8083      8083    8083
Bordeaux-style Red Blend      5160    5160   5160      5160    5160
Riesling                      4836    4836   4836      4836    4836
Sauvignon Blanc               3973    3973   3973      3973    3973
Syrah                         3937    3937   3937      3937    3937
Rosé                          3172    3172   3172      3172    3172
Merlot                        2906    2906   2906      2906    2906
Zinfandel                     2708    2708   2708      2708    2708
Malbec                        2586    2586   2586      2586    2586
Sangiovese                    2376    2376   2376      2376    2376
Nebbiolo                      2325    2325   2325      2325    2325
Portuguese Red                2196    2196   2196      2196    2196
White Blend                   1953    1953   1953      1953    1953
Sparkling Blend               1937    1937   1937      1937    1937
Tempranillo                   1784    1784   1784      1784    1784
Rhône-style Red Blend         1389    1389   1389      1389    1389
Pinot Gris                    1313    1313   1313      1313    1313
Cabernet Franc                1263    1263   1263      1263    1263
Champagne Blend               1200    1200   1200      1200    1200
Grüner Veltliner              1139    1139   1139      1139    1139
Portuguese White               986     986    986       986     986
Pinot Grigio                   980     980    980       980     980
Viognier                       951     951    951       951     951
Gewürztraminer                 935     935    935       935     935
Gamay                          836     836    836       836     836
Petite Sirah                   755     755    755       755     755
Shiraz                         706     706    706       706     706
...                            ...     ...    ...       ...     ...
Syrah-Grenache-Viognier          1       1      1         1       1
Sacy                             1       1      1         1       1
Früburgunder                     1       1      1         1       1
Tinta Madeira                    1       1      1         1       1
Torontel                         1       1      1         1       1
Chardonnay-Pinot Gris            1       1      1         1       1
Chardonnay-Riesling              1       1      1         1       1
Piquepoul Blanc                  1       1      1         1       1
Malbec-Carménère                 1       1      1         1       1
Trajadura                        1       1      1         1       1
País                             1       1      1         1       1
Merlot-Grenache                  1       1      1         1       1
Cococciola                       1       1      1         1       1
Colorino                         1       1      1         1       1
Petit Courbu                     1       1      1         1       1
Diamond                          1       1      1         1       1
Tokay Pinot Gris                 1       1      1         1       1
Marselan                         1       1      1         1       1
Doña Blanca                      1       1      1         1       1
Shiraz-Roussanne                 1       1      1         1       1
Pinot Gris-Gewürztraminer        1       1      1         1       1
Favorita                         1       1      1         1       1
Tinto Velasco                    1       1      1         1       1
Folle Blanche                    1       1      1         1       1
Tintilia                         1       1      1         1       1
Forcallà                         1       1      1         1       1
Francisa                         1       1      1         1       1
Franconia                        1       1      1         1       1
Tinta Negra Mole                 1       1      1         1       1
Merlot-Petite Verdot             1       1      1         1       1

[603 rows x 5 columns]

In [53]:
# MICHAEL'S CATEGORICAL HEATMAP

varieties = ['Pinot Noir',
             'Chardonnay',
             'Cabernet Sauvignon',
             'Red Blend',
             'Bordeaux-style Red Blend',
             'Riesling',
             'Sauvignon Blanc',
             'Syrah',
             'Rosé',
             'Merlot']

country = ['US',
           'France', 
           'Italy', 
           'Spain', 
           'Portugal', 
           'Chile', 
           'Argentina', 
           'Austria', 
           'Australia', 
           'Germany']

score = np.array([[pinot_noir_df],
                    [chardonnay_df],
                    [cabernet_sauvignon_df],
                    [red_blend_df],
                    [bordeaux_df],
                    [riesling_df],
                    [sauvignon_blanc_df],
                    [syrah_df],
                    [rose_df],
                    [merlot_df]])


fig, ax = plt.subplots()
im = ax.imshow(score)

# We want to show all ticks...
ax.set_xticks(np.arange(len(countries)))
ax.set_yticks(np.arange(len(varieties)))

# ... and label them with the respective list entries
ax.set_xticklabels(countries)
ax.set_yticklabels(varieties)

# Rotate the tick labels and set their alignment.
plt.setp(ax.get_xticklabels(), rotation=45, ha="right",
         rotation_mode="anchor")

# Loop over data dimensions and create text annotations.
for i in range(len(varieties)):
    for j in range(len(countries)):
        text = ax.text(j, i, harvest[i, j],
                       ha="center", va="center", color="w")

ax.set_title("Score Performance for each Country")
fig.tight_layout()
plt.show()

ValueError: cannot copy sequence with size 12191 to array axis with dimension 6