In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

In [3]:
wine_data = "Datasets/winemag-data-130k-v2.csv"

In [4]:
wine_data_df = pd.read_csv(wine_data)

In [5]:
wine_data_df.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [6]:
wine_data_df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [14]:
reduced_wine_data_df = wine_data_df[["country", "points", "price", "variety", "province", "winery"]]

In [30]:
drop_na_df = reduced_wine_data_df.dropna()

In [33]:
drop_na_df.count()

country     120915
points      120915
price       120915
variety     120915
province    120915
winery      120915
dtype: int64

In [46]:
#groupbys for dataset
country_group = drop_na_df.groupby("country")
province_group = drop_na_df.groupby("province")
winery_group = drop_na_df.groupby("winery")
country_by_province = drop_na_df.groupby(["country", "province"])
country_by_province.count()

                               points  price  variety  winery
country   province
Argentina Mendoza Province       3226   3226     3226    3226
          Other                   530    530      530     530
Armenia   Armenia                   2      2        2       2
Australia Australia Other         236    236      236     236
          New South Wales          85     85       85      85
          South Australia        1331   1331     1331    1331
          Tasmania                 42     42       42      42
          Victoria                315    315      315     315
          Western Australia       285    285      285     285
Austria   Austria                  22     22       22      22
          Burgenland              567    567      567     567
          Carnuntum                96     96       96      96
          Eisenberg                16     16       16      16
          Kamptal                 338    338      338     338
          Kremstal                292    292      292     292
          Leithaberg               34     34       34      34
          Mittelburgenland         19     19       19      19
          Neusiedlersee            11     11       11      11
          Niederösterreich        481    481      481     481
          Steiermark               14     14       14      14
          Südburgenland             2      2        2       2
          Südoststeiermark         27     27       27      27
          Südsteiermark            78     78       78      78
          Thermenregion           107    107      107     107
          Traisental               43     43       43      43
          Vienna                   58     58       58      58
          Wachau                  308    308      308     308
          Wagram                   62     62       62      62
          Wagram-Donauland         34     34       34      34
          Weinland Österreich      16     16       16      16
...                               ...    ...      ...     ...
US        Hawaii                    1      1        1       1
          Idaho                   190    190      190     190
          Illinois                  6      6        6       6
          Iowa                      4      4        4       4
          Kentucky                  1      1        1       1
          Massachusetts             7      7        7       7
          Michigan                111    111      111     111
          Missouri                 33     33       33      33
          Nevada                    4      4        4       4
          New Jersey                8      8        8       8
          New Mexico               45     45       45      45
          New York               2676   2676     2676    2676
          North Carolina           23     23       23      23
          Ohio                     12     12       12      12
          Oregon                 5359   5359     5359    5359
          Pennsylvania             18     18       18      18
          Rhode Island              1      1        1       1
          Texas                    93     93       93      93
          Vermont                   3      3        3       3
          Virginia                770    770      770     770
          Washington             8583   8583     8583    8583
          Washington-Oregon         7      7        7       7
Ukraine   Ukraine                  14     14       14      14
Uruguay   Atlantida                 5      5        5       5
          Canelones                43     43       43      43
          Juanico                  12     12       12      12
          Montevideo               11     11       11      11
          Progreso                 11     11       11      11
          San Jose                  3      3        3       3
          Uruguay                  24     24       24      24

[422 rows x 4 columns]